$color-000: #000;
$color-fff: #fff;
$color-f1f: #f1f5f8;
$color-eb8: #e76b6b;
$color-a6d: #a6d6f8;
$color-6ee: #6ee779;
$color-d6d: #d6dadc;
$color-012: #012e50;

$screen-xl: 1199.98;
$screen-lg: 991.98;
$screen-md: 767.98;
$screen-sm: 479.98;

$hoverTime: 0.4s;
