$color-fff: #fff;
$color-000: #000;
$color-aaa: #aaa;
$color-099: #099999;

$screen-xl: 1199.98;
$screen-lg: 991.98;
$screen-md: 767.98;
$screen-sm: 479.98;

$hoverTime: 0.3s;
$doubleHoverTime: 0.6s;

$container: 1230px;
