$color-fff: #fff;
$color-000: #000;

$body: #558091;

$text-dark: #3f3f3f;
$text: #666;
$text-light: #dadada;

$brand-dark: #14bb94;
$brand-light: #bdf5e8;

$light-500: #eff0f1;
$light-100: #fafafa;
$light-0: #fff;

$border: #cdcdcd;
$border-shadow: #ededed;
$border-dark: #dcdcdc;

$screen-xl: 1199.98;
$screen-lg: 991.98;
$screen-md: 767.98;
$screen-sm: 479.98;

$hoverTime: 0.4s;

// $container: 1230px;
