@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto-Italic.ttf") format("ttf");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.ttf") format("ttf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.ttf") format("ttf");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.ttf") format("ttf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Caveat;
	font-display: swap;
	src: url("../fonts/Caveat-Regular.woff2") format("woff2"), url("../fonts/Caveat-Regular.ttf") format("ttf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Caveat;
	font-display: swap;
	src: url("../fonts/Caveat-Medium.woff2") format("woff2"), url("../fonts/Caveat-Medium.ttf") format("ttf");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Caveat;
	font-display: swap;
	src: url("../fonts/Caveat-Bold.woff2") format("woff2"), url("../fonts/Caveat-Bold.ttf") format("ttf");
	font-weight: 700;
	font-style: normal;
}
