.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	@include Roboto(400);
	font-size: 18px;
	background-color: transparent;
	color: $color-000;
}

.wrapper {
	max-width: 2200px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}
