$color-fff: #fff;
$color-000: #000;
$color-132: #132742;
$color-777: #777;
$color-accent: #ff3d00e8;

$max-width: 1200;

$screen-xl: 1199.98;
$screen-lg: 991.98;
$screen-md: 767.98;
$screen-sm: 479.98;

$hoverTime: 0.4s;
