$color-fff: #fff;
$color-f1f: #f1f5f8;
$color-000: #000;
$color-132: #132742;
$color-617: #617e99;
$color-777: #777;
$color-accent: #bb5d28;

$max-width: 1200;

$screen-xl: 1199.98;
$screen-lg: 991.98;
$screen-md: 767.98;
$screen-sm: 479.98;

$hoverTime: 0.4s;
