$color-fff: #fff;
$color-000: #000;
$color-teal-02: rgba(0, 128, 128, 0.2);
$color-teal: rgba(0, 128, 128, 1);

$screen-xl: 1199.98;
$screen-lg: 991.98;
$screen-md: 767.98;
$screen-sm: 479.98;

$hoverTime: 0.4s;

$container: 1230px;
