$color-000: #000;
$color-131: #131a28;
$color-293: #293446;
$color-body: #409ae2;
$color-a0a: #a0a0a0;
$color-dad: #dadada;
$color-f2f: #f2f2f2;
$color-fff: #fff;

$screen-xl: 1199.98;
$screen-lg: 991.98;
$screen-md: 767.98;
$screen-sm: 479.98;

$hoverTime: 0.8s;
