.sorting {
	position: relative;
	z-index: 1;
	height: 110vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0;

	&::before {
		content: "";
		position: absolute;
		z-index: 5;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: none;
		background-color: transparent;
	}

	// .sorting__container
	&__container {
		width: 100%;
	}

	// .sorting__title
	&__title {
		font-weight: 700;
		font-size: 32px;
		text-align: center;
		margin: 0 0 40px 0;
	}

	// .sorting__table
	&__table {
		width: 100%;
		margin: 0 0 40px 0;
	}

	// .sorting__result
	&__result {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 40px 0;
		p {
			max-width: 240px;
			width: 100%;
		}
	}

	// .sorting__value
	&__value {
		margin: 0 auto;
	}

	&.lock {
		&::before {
			display: block;
			background-color: $color-000-02;
			background-image: url("../img/loading.gif");
			@include bg-cover;
			background-size: 70px 70px;
		}
	}
}

.table {
	// .table__top
	th,
	td {
		background-color: $color-teal-02;
		padding: 10px;
	}

	// .table__title
	&__title {
		font-weight: 700;
		font-size: 20px;
	}
}

.unit {
	// .unit__value
	&__value {
		text-align: center;
	}
}

.form {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	padding: 10px 0;
	margin: 0 0 40px 0;

	// .form__label
	&__label {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 40px;
		&:not(:last-child) {
			margin: 0 0 20px 0;
		}
	}

	// .form__title
	&__title {
		position: relative;
		z-index: 2;
		display: block;
		padding: 0 10px;
		cursor: pointer;
	}

	// .form__box
	&__box {
		max-width: 410px;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	// .form__input
	&__input {
		max-width: 410px;
		width: 100%;
		padding: 10px;
		border: 1px solid $color-teal-02;
		box-shadow: 0 0 7px transparent;
		outline: none;
		cursor: text;
		transition: box-shadow $hoverTime linear, background-color $hoverTime linear, border-color $hoverTime linear,
			color $hoverTime linear;

		&--test {
			&:focus {
				box-shadow: 0 0 7px $color-teal;
				border: 1px solid $color-teal;
			}
		}

		&--range {
			height: 10px;
			padding: 0 50px 0 0;
			appearance: none;
			background-color: transparent;
			border: none;
			cursor: default;

			&:focus {
				&::-webkit-slider-thumb {
					box-shadow: 0 0 7px $color-teal;
					border: 1px solid $color-teal;
				}
			}

			&:focus {
				&::-moz-range-thumb {
					background-color: $color-teal;
					border-color: $color-teal;
				}
			}

			&::-webkit-slider-runnable-track {
				height: 8px;
				cursor: pointer;
				background-color: $color-teal-02;
				border-radius: 5px;
				box-shadow: inset 0 2px 7px $color-teal, 0 0 2px $color-000;
				transition: box-shadow $hoverTime linear, background-color $hoverTime linear, border-color $hoverTime linear,
					color $hoverTime linear;
			}

			&::-moz-range-track {
				height: 8px;
				cursor: pointer;
				background-color: $color-teal-02;
				border-radius: 5px;
				box-shadow: inset 0 2px 7px $color-teal, 0 0 2px $color-000;
				transition: box-shadow $hoverTime linear, background-color $hoverTime linear, border-color $hoverTime linear,
					color $hoverTime linear;
			}

			&::-webkit-slider-thumb {
				position: relative;
				top: -8px;
				width: 25px;
				height: 25px;
				background-color: $color-teal;
				cursor: pointer;
				-webkit-appearance: none;
				border: 2px solid $color-teal;
				border-radius: 100%;
				box-shadow: inset 0 0 3px $color-teal;
				transition: box-shadow $hoverTime linear, background-color $hoverTime linear, border-color $hoverTime linear,
					color $hoverTime linear;
			}

			&::-moz-range-thumb {
				position: relative;
				top: -8px;
				width: 25px;
				height: 25px;
				cursor: pointer;
				background-color: $color-teal-02;
				border-radius: 100%;
				transition: box-shadow $hoverTime linear, background-color $hoverTime linear, border-color $hoverTime linear,
					color $hoverTime linear;
			}
		}
	}

	// .form__amount
	&__amount {
		max-width: 76px;
		width: 100%;
		font-weight: 700;
		font-size: 20px;
		text-align: right;
	}

	// .form__button
	&__button {
		position: relative;
		top: 0;
		display: inline-block;
		max-width: 240px;
		width: 100%;
		align-self: start;
		text-align: center;
		padding: 10px;
		font-weight: 700;
		font-size: 20px;
		outline: none;
		box-shadow: 0 0 7px transparent;
		border: 1px solid transparent;
		background-color: $color-teal-02;
		transition: background-color $hoverTime linear, color $hoverTime linear, border $hoverTime linear,
			box-shadow $hoverTime linear;

		&:focus {
			box-shadow: 0 0 7px $color-teal;
			border: 1px solid $color-teal;
		}

		&:hover {
			background-color: $color-teal;
		}

		&:active {
			top: 1px;
		}
	}
}

.data {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 40px;

	// .data__list
	&__list {
		position: relative;
		z-index: 5;
		flex: 0 0 1120px;
		max-width: 1120px;
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		align-items: center;

		&.block {
			color: $color-teal-02;
		}
	}

	// .data__item
	&__item {
		position: relative;
		z-index: 3;
		width: 50%;
		min-height: 100%;
		padding: 10px;
		display: flex;
		flex-direction: column;
		background-color: $color-fff;
		border: 1px solid $color-teal;
	}

	// .data__title
	&__title {
		position: relative;
		z-index: 3;
	}

	// .data__content
	&__content {
		z-index: 1;
		padding: 10px 0 0;
		text-align: left;
		width: 100%;
		overflow-y: auto;
		background-color: $color-fff;
	}

	// .data__text
	&__text {
		max-height: 0;
		display: block;
		overflow: auto;
		opacity: 0;
		visibility: hidden;
		text-align: center;
		padding: 0 200px 0 0;
		transition: all $hoverTime ease;

		&.active {
			max-height: 200px;
			opacity: 1;
			visibility: visible;
		}
	}

	// .data__arrow
	&__arrow {
		position: relative;
		z-index: 1;
		flex: 0 0 80px;
		padding: 0 20px;
	}

	// .data__box
	&__box {
		position: relative;
		z-index: 3;
		display: block;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		outline: none;
		box-shadow: 0 0 7px transparent;
		border: 1px solid transparent;
		cursor: pointer;
		transition: background-color $hoverTime linear, color $hoverTime linear, border $hoverTime linear,
			box-shadow $hoverTime linear;

		&:focus {
			box-shadow: 0 0 7px $color-teal;
			border: 1px solid $color-teal;
		}

		&:hover {
			background-color: $color-teal;
			&::before,
			&:after {
				background-color: $color-fff;
			}
		}

		&.block {
			pointer-events: none;
			&::before,
			&:after {
				background-color: $color-teal-02;
			}
		}

		&.active {
			&::before {
				transform: rotate(-45deg);
			}
			&:after {
				transform: rotate(45deg);
			}
		}

		&::before,
		&:after {
			content: "";
			position: absolute;
			z-index: 1;
			top: 48%;
			width: 14px;
			height: 3px;
			background-color: $color-teal;
			transition: transform $hoverTime linear, background-color $hoverTime linear;
		}

		&::before {
			left: 22%;
			transform: rotate(45deg);
		}
		&:after {
			left: 43%;
			transform: rotate(-45deg);
		}
	}
}
