$color-fff: #fff;
$color-000: #000;
$color-aaa: #aaa;
$color-gold: gold;
$color-yellow: yellow;
$color-eab: #eabd4b;

$screen-xl: 1199.98;
$screen-lg: 991.98;
$screen-md: 767.98;
$screen-sm: 479.98;

$hoverTime: 0.8s;
$doubleHoverTime: 0.6s;

$container: 1230px;
