$color-fff: #fff;
$color-fef: #fefefe;
$color-faf: #fafafa;
$color-dad: #dadada;
$color-4a4: #303030;
$color-1a1: #1a1c1b;
$color-000: #000;
$color-teal: teal;

$screen-xl: 1199.98;
$screen-lg: 991.98;
$screen-md: 767.98;
$screen-sm: 479.98;

$hoverTime: 0.4s;
