html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

ul,
ol {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
}

textarea,
input {
	font: inherit;
	cursor: text;
	padding: 0;
	margin: 0;
}

button,
select {
	font: inherit;
	cursor: pointer;
}

a,
button {
	text-decoration: none;
	color: inherit;
	padding: 0;
	margin: 0;
}

input,
button {
	border: none;
	background-color: transparent;
}

a:active,
button:active {
	-webkit-tap-highlight-color: transparent;
	background-color: transparent;
}
