$color-fff: #fff;
$color-e4f: #e4f0f8;
$color-4a9: #4a99d3;
$color-d38: #d3844a;
$color-260: #260041;
$color-878: #878787;
$color-0f0: #0f001a;
$color-000: #000;
$color-bg10: rgba(0, 0, 0, 0.1);
$color-bg25: rgba(0, 0, 0, 0.25);
$color-bg08: rgba(14, 29, 40, 0.8);
$color-bc20: rgba(74, 153, 211, 0.2);
$color-bc10: rgba(74, 153, 211, 0.1);

$screen-xl: 1199.98;
$screen-lg: 991.98;
$screen-md: 767.98;
$screen-sm: 479.98;

$hoverTime: 0.3s;
$doubleHoverTime: 0.6s;

$container: 1230px;
